/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Black+Ops+One&family=Neonderthaw&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

body {
    background-color: var(--clr-background);
}

:root {
    --graphite-950: #121317;
    --graphite-900: #1b1d22;
    --graphite-850: #22242b;
    --graphite-800: #2b2e36;
    --clr-background: #121317;
    --clr-background-light: #1f2228;
    --clr-surface: #282a30;
    --clr-accent: #ff7300;
    --clr-text: #e8e8e8;
    --clr-subtext: #979797;
    --clr-guideline: #494949;

    scroll-behavior: smooth;

    --glow: 0 0 4px  color-mix(in srgb, currentColor 90%, transparent),   /* tight, bright core */
    0 0 12px color-mix(in srgb, currentColor 70%, transparent),
    0 0 26px color-mix(in srgb, currentColor 50%, transparent),
    0 0 46px color-mix(in srgb, currentColor 30%, transparent);   /* wide, soft bloom */


    font-size: clamp(11px, 1vw, 24px);
}

.accent
{
    color: var(--clr-accent)
}
.glow {
    text-shadow: var(--glow)
}
.riveted {
    background-image: radial-gradient(circle 3px at 16px 16px, #4a4e58 40%, transparent 42%), radial-gradient(circle 3px at calc(100% - 16px) 16px, #4a4e58 40%, transparent 42%), radial-gradient(circle 3px at 16px calc(100% - 16px), #4a4e58 40%, transparent 42%), radial-gradient(circle 3px at calc(100% - 16px) calc(100% - 16px), #4a4e58 40%, transparent 42%);
    background-repeat: no-repeat;
}
